/*
  Yong Lin Wu
  IntroCS pd06 sec10
  HW05 -- Stuylin
  2021-02-23
*/

/*
structure of a CSS ruleset:
SELECTOR { 0 or more DECLARATIONS }
where each declaration is of the form
PROPERTY : VALUE;
 */

h1 {
    color: rgb(4, 156, 214)
}

h2 {
    color: rgb(4, 156, 214)
}

h3 {
	color: rgb(4, 156, 214)
}

p {
	color: rgb(200,201,201)
}

li {
	color:rgb(200,201,201)
}

body {
    background-color: rgb(4,4,4);
}
